DirectoryIndex index index.html index.php
DirectorySlash off
Options -Indexes -MultiViews

RewriteEngine On
RewriteBase /


RewriteCond %{REQUEST_URI} ^/index$ [OR]
RewriteCond %{REQUEST_URI} ^/index[.]+(\w+)$
    RewriteRule . / [R=301,L]